html {
    box-sizing: border-box ;
    background-color: gray;
}

.main {
    font-family: Verdana, sans-serif;
}
.skills {
    display: flex;
    border-radius: 10px;
    margin: auto;
    width: 800px;
    box-shadow: 3px 5px black;
    background-color: burlywood;
    flex-direction: column;
   

}
.top-content {
    

}

.canvas {
    background-color: white;
}

body {
    margin: 0;
    overflow: hidden;
}



