html {
    box-sizing: border-box ;
    background-color: black;
}

.hmm {
    color: brown;
    font-size: 3em;
    padding: 10px 10px 10px 10px;
}

.main {
    width: 600px;
    height: 200px;
    margin: auto;
    border-radius: 3px;
    box-shadow: 10px 10px yellow;
    background-color: white;
}